<mat-card-header class="card-header">
  <mat-card-title>{{customer.data.customerName}} - Orders</mat-card-title>
</mat-card-header>

<mat-dialog-content>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- OrderId Column -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
      <td mat-cell *matCellDef="let order"> {{order.orderId}} </td>
    </ng-container>

    <!-- Required Date Column -->
    <ng-container matColumnDef="requiredDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Required Date </th>
      <td mat-cell *matCellDef="let order"> {{order.requiredDate | date}} </td>
    </ng-container>

    <!-- Shipped Date Column -->
    <ng-container matColumnDef="shippedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipped Date </th>
      <td mat-cell *matCellDef="let order"> {{order.shippedDate | date}} </td>
    </ng-container>

    <!-- Ship Name Column -->
    <ng-container matColumnDef="shipName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship Name </th>
      <td mat-cell *matCellDef="let order"> {{order.shipName}} </td>
    </ng-container>

    <!-- Ship Address Column -->
    <ng-container matColumnDef="shipAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship Address </th>
      <td mat-cell *matCellDef="let order"> {{order.shipAddress}} </td>
    </ng-container>

    <!-- Ship City Column -->
    <ng-container matColumnDef="shipCity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship City </th>
      <td mat-cell *matCellDef="let order"> {{order.shipCity}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
</mat-dialog-content>

<mat-card-actions align="end">
  <button mat-button type="button" (click)="onClose()" class="red-button">Close</button>
</mat-card-actions>
