.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; /* Espacio entre filas */
}

.flex-item {
  flex: 1;
  margin-right: 8px;
}

.flex-item:last-child {
  margin-right: 0; /* Elimina margen derecho del último elemento */
}

.full-width {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 16px; /* Espacio entre campos */
}

.card-header {
  background-color: #4C9950; // Set the background to green
  color: white; // Set the text color to white
}

.green-button {
  color: #4C9950; // Set the text color to green
}

mat-form-field,
mat-select,
mat-input {
  box-shadow: none !important;
}
mat-card {
  box-shadow: none !important;
}
